In [1]:
import pandas as pd

In [3]:
#Creamos un dataframe con los datos del archivo 'data_remaning_kaggle.csv' .
df_remaining=pd.read_csv('../files/data_remaning_kaggle.csv')
df_remaining.head()

,Unnamed: 0,index,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,0,0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,"General purpose image/video tools (PIL, cv2, s...","Image segmentation methods (U-Net, Mask R-CNN,...","Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#Creamos un dataframe con los datos del archivo 'data_txt_clean.txt' .
df_txt=pd.read_csv('../files/data_txt_clean.txt',delimiter=';')
df_txt.head()

,index,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,...,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,0,India,Bachelorâ€™s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,...,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,1,Indonesia,Masterâ€™s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,...,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN
2,2,Pakistan,Masterâ€™s degree,Software Engineer,1-3 years,Python,A laptop,Never,I do not use machine learning methods,Academics/Education,...,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Other,Matplotlib,NaN,NaN,None of these activities are an important par...,"MySQL , MongoDB",None
3,3,Mexico,Doctoral degree,Research Scientist,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",More than 25 times,5-10 years,Academics/Education,...,"Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",NVIDIA GPUs,Matplotlib,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",Do research that advances the state of the ar...,NaN,NaN
4,4,India,Doctoral degree,Other,< 1 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,10-20 years,Academics/Education,...,"Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook",None,"Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,Microsoft Power BI

In [9]:
#Creamos un dataframe con los datos del archivo 'data_xml_clean.xml' .
df_xml=pd.read_xml('../files/data_xml_clean.xml')
df_xml.head()

   level_0  index  time    age gender
0        0      0   910  50-54    Man
1        1      1   784  50-54    Man
2        2      2   924  22-24    Man
3        3      3   575  45-49    Man
4        4      4   781  45-49    Man

In [10]:
#Creamos un dataframe con los datos del archivo 'exported_db_data.csv' .
df_csv=pd.read_csv('../files/exported_db_data.csv')
df_csv.head()

,index,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,0,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
print(df_csv)

       index         Q10_Part_1       Q10_Part_2 Q10_Part_3 Q10_Part_4  \
0          0                NaN  Colab Notebooks        NaN        NaN
1          1   Kaggle Notebooks  Colab Notebooks        NaN        NaN
2          2   Kaggle Notebooks              NaN        NaN        NaN
3          3                NaN  Colab Notebooks        NaN        NaN
4          4                NaN              NaN        NaN        NaN
...      ...                ...              ...        ...        ...
25968  25968                NaN  Colab Notebooks        NaN        NaN
25969  25969                NaN              NaN        NaN        NaN
25970  25970                NaN              NaN        NaN        NaN
25971  25971                NaN              NaN        NaN        NaN
25972  25972                NaN              NaN        NaN        NaN

      Q10_Part_5 Q10_Part_6 Q10_Part_7                           Q10_Part_8  \
0            NaN        NaN        NaN                                  NaN
1            NaN        NaN        NaN                                  NaN
2            NaN        NaN        NaN                                  NaN
3            NaN        NaN        NaN                                  NaN
4            NaN        NaN        NaN                                  NaN
...          ...        ...        ...                                  ...
25968        NaN        NaN        NaN   Amazon Sagemaker Studio Notebooks
25969        NaN        NaN        NaN                                  NaN
25970        NaN        NaN        NaN                                  NaN
25971        NaN        NaN        NaN                                  NaN
25972        NaN        NaN        NaN                                  NaN

                   Q10_Part_9 Q10_Part_10           Q10_Part_11  \
0                         NaN         NaN                   NaN
1                         NaN         NaN                   NaN
2                         NaN         NaN                   NaN
3                         NaN         NaN                   NaN
4                         NaN         NaN  Google Cloud Datalab
...                       ...         ...                   ...
25968   Amazon EMR Notebooks          NaN                   NaN
25969                     NaN         NaN                   NaN
25970                     NaN         NaN                   NaN
25971                     NaN         NaN                   NaN
25972                     NaN         NaN                   NaN

                                Q10_Part_12 Q10_Part_13 Q10_Part_14  \
0                                       NaN         NaN         NaN
1                                       NaN         NaN         NaN
2                                       NaN         NaN         NaN
3                                       NaN         NaN         NaN
4                                       NaN         NaN         NaN
...                                     ...         ...         ...
25968   Databricks Collaborative Notebooks          NaN         NaN
25969                                   NaN         NaN         NaN
25970                                   NaN         NaN         NaN
25971                                   NaN         NaN         NaN
25972                                   NaN         NaN         NaN

      Q10_Part_15 Q10_Part_16 Q10_OTHER
0             NaN         NaN       NaN
1             NaN         NaN       NaN
2             NaN         NaN       NaN
3             NaN         NaN       NaN
4             NaN         NaN       NaN
...           ...         ...       ...
25968         NaN         NaN       NaN
25969         NaN        None       NaN
25970         NaN         NaN       NaN
25971         NaN        None       NaN
25972         NaN         NaN       NaN

[25973 rows x 18 columns]

In [20]:
#Creamos un dataframe con los tres dataframes en uno unico.SE HAN UNIDO PERO CREO QUE
#  NO APARECEN BIEN LOS DATOS, PUES NO APARECE LOS ATOS DELTEXTE EN MUCHAS DE LAS CELDAS
df_abcde=pd.concat([df_remaining, df_txt])
df_abcde

,Unnamed: 0,index,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,...,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,0.0,0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,3,"General purpose image/video tools (PIL, cv2, s...","Image segmentation methods (U-Net, Mask R-CNN,...","Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25968,NaN,25968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Business intelligence software (Salesforce, Ta...","Python, SQL, Javascript, Bash","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",NVIDIA GPUs,"Matplotlib ,Seaborn","Scikit-learn , TensorFlow ,Keras ,PyTorch ,Xgb...","Linear or Logistic Regression, Gradient Boosti...",Analyze and understand data to influence produ...,"PostgreSQL , SQLite , MongoDB , Microsoft SQL...",Microsoft Power BI
25969,NaN,25969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Python,PyCharm,None,None,PyTorch,"Dense Neural Networks (MLPs, etc)",NaN,NaN,NaN
25970,NaN,25970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Basic statistical software (Microsoft Excel, G...",NaN,NaN,NaN,NaN,NaN,NaN,None of these activities are an important par...,NaN,NaN
25971,NaN,25971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Python, SQL","Notepad++,Jupyter Notebook",None,"Matplotlib ,Seaborn",Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",NaN,NaN,NaN
25972,NaN,25972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Advanced statistical software (SPSS, SAS, etc.)",NaN,NaN,NaN,NaN,NaN,NaN,Analyze and understand data to influence produ...,NaN,NaN